body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

p {
    text-align: center;
    font-weight: bold;
}

ul-class {
    list-style-type: none;
    padding: 0;
}

li-class {
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

li-class:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.accordion-body {
    background-color: #7F93B3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.accordion {
    background-color: #cfe2ff;
    border-radius: 80px;
}

.accordion-item {
    transition: transform 0.3s;
    background-color: #0d1820;
    border-radius: 80px;
}

.accordion-item:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px 5px black;
}

h1 {
    text-align: center;
    color: #cccccc;
    font-weight: bold;
}

.skill-bubbles {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skill-bubble {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 14px;
    margin-bottom: 10px;
}


